body{
    background-color: rgb(40,44,52);
    font-family: 'Roboto', sans-serif;
    color: #7e42ee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    height: 39em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#login{
    border: 2px rgb(40,44,52) solid;
    border-radius: 2em;
    background-color: rgb(50, 55, 66);
    padding: 1.5em;
    margin: 1em;
}
#login-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    max-width: 100%;
}
#login_title{
    text-align: center;
    letter-spacing: .1em;
    margin-bottom: .8em;
    border-bottom: 1px solid #c94ed4;;
    color: #d7ddd8;
}
#input_form{
    padding: .5em;
    border-bottom: 1px solid #c94ed4;;
}
#email{
    width: 100%;
    background-color: rgb(40,44,52);
    border-radius: .2em;
    padding: .5em;
    color: #ebeeeb;
    margin-bottom: .5em;
    font-size: 1em;

}
#email:hover{
    background-color: rgb(50, 55, 65);
}
#password{
    width: 100%;
    background-color: rgb(40,44,52);
    border-radius: .2em;
    padding: .5em;
    color: #ebeeeb;
    margin-bottom: .8em;
    font-size: 1em;
}
#password:hover{
    background-color: rgb(50, 55, 65);
}
#submit{
    margin: .5em;
    width: 100%;
    border-radius: .3em;
    background: rgb(181,113,207);
background: linear-gradient(90deg, rgba(181,113,207,1) 13%, rgba(145,66,223,1) 45%, rgba(173,58,226,1) 80%);
    padding: .5em;
    font-weight: 750;
    margin-bottom: 1em;
    font-size: 1em;
    cursor: pointer;
}
#submit:hover{
    background: rgb(198,127,224);
    background: linear-gradient(90deg, rgba(198,127,224,1) 13%, rgba(164,85,242,1) 45%, rgba(189,73,242,1) 80%);
}
#register{
    padding: 5px;
}
#forgot-password{
    font-weight: 700;
}
#forgot-password:hover{
    color: #ebeeeb;
}
#createAccount{
    width: 100%;
    margin: .5em;
    border-radius: .3em;
    background: rgb(181,113,207);
    background: linear-gradient(90deg, rgba(181,113,207,1) 13%, rgba(145,66,223,1) 45%, rgba(173,58,226,1) 80%);
    padding: .5em;
    font-weight: 750;
    margin-bottom: 1em;
    font-size: 1em;
    cursor: pointer;
}
#createAccount:hover{
    background: rgb(198,127,224);
    background: linear-gradient(90deg, rgba(198,127,224,1) 13%, rgba(164,85,242,1) 45%, rgba(189,73,242,1) 80%);
}
a{
    text-decoration: none;
    color: #d7ddd8;
}
::-webkit-scrollbar{
    width: .8em;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(149, 148, 148);
    border-radius: 10px;
}
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(189, 186, 186);
}
